<link rel="stylesheet" href="/css/style.css">
<div class="container">
    <h1 class="text-center mb-5">Welcome to the Home Page!</h1>
    <p class="text-center mb-5">This is the home page of my favorite activity.</p>
    <div class="text-center mb-5">
        <a href="/contact" class="btn btn-primary">Go to Contact Page</a>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1429117237875-aa29229d99f0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                     class="card-img-top" 
                     alt="Card Image 1">
                <div class="card-body">
                    <h5 class="card-title">Sleep</h5>
                    <p class="card-text">Tidur atau rebahan adalah salah satu kegiatan kesukaanku. Di saat badanku capek karena hari yang melelahkan, kasur adalah jawaban terbaik.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1571902943202-507ec2618e8f?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                     class="card-img-top" 
                     alt="Card Image 2">
                <div class="card-body">
                    <h5 class="card-title">Workout</h5>
                    <p class="card-text">Workout adalah kegiatan yang akhir-akhir ini aku sukai. Dengan workout aku bisa menyegarkan pikiranku kembali.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1420788947422-10084e322683?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                     class="card-img-top" 
                     alt="Card Image 3">
                <div class="card-body">
                    <h5 class="card-title">Healing</h5>
                    <p class="card-text">Healing adalah salah satu kegiatan kesukaanku karena dapat menenangkan pikiran dan melupakan sejenak sesuatu yang melelahkan.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer bg-light text-center py-3">
    <p>&copy; Copyright 2024 20220140001</p>
  </footer>